{% load static %}

<html>
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>
	<div class="container">
		<h2>Welcome to round {{round_num}}</h2>
	</div>


	{% if all_players %}
	<div class="container">
		<table class="table">
			<tr>
				<th>person</th>
				<th>image</th>
				<th>accumulated score</th>
				<th>new joke score</th>
			</tr>
		    {% for player in all_players %}
		    	<tr>
		    		<td>{{player.person}}</td>
		    		<td><img src={{player.photo_link}} class="img-rounded" ></td>
		    		<td>{{player.acc_score}}</td>
		    		<td>
						<form action="" method="post" enctype="multipart/form-data" class="form-group">
							{% csrf_token %}
							<input type="hidden" name="player_id" value={{player.id}}>
							<input type="range" name="new_score" min="-10" max="10">
							<input type="submit">
						</form>
		    		</td>
		        </tr>
		    {% endfor %}
	    </table>
	</div>
	{% else %}
	    <p>No player</p>
	{% endif %}
</body>

</html>